<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>COMENTARIOS-PANTHEON</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <section class="comentarios">

        <main class="comentarios__main">


            <header>
                <h2>SEJA BEM-VINDO {{session["nome_usuario"]}}! </h2>
                
                <section class="logoff">
                    <div>
                        <figure>
                            <a href="/get/logoff"><img src="../static/img/logout.png" alt="SAIR"></a>
                        </figure> 
                    </div>
                </section>
            </header>
            



            <form class="comentarios__form" action="/post/cadastra_comentario" method="POST">

                <div class="comentarios__input">
                    <span>NOME</span>
                    <input name="usuario" type="text" class="nome__input" autocomplete="off">
                    <span>COMENTÁRIO</span>
                    <input name="comentario" type="text" class="comentario__input" autocomplete="off">

                    <div class="comentarios__button">
                        <button name="comentario" class="comentarios__button">ENVIAR</button>
                    </div> 
                </div>

                <section class="comentarios__visualizar">
                        {% for mensagem in Mensagem %}
                        <div class="comentarios_nav__visualizar">
                            <hr>
                            <strong> O usuário: {{mensagem.usuario}} no dia {{mensagem.data_hora}}</strong>
                            <p class="comentario_comentarios__visualizar"> <strong>Enviou a seguinte mensagem: {{mensagem.comentario}}</strong></p>
                            <a href="/delete/mensagem/{{mensagem.cod_comentario}}" class="btt_excluir">EXCLUIR</a>
                            <a href="/put/like/mensagem/{{mensagem.cod_comentario}}" class="bttn__comentario-like" >👍 {{mensagem.curtidas}}: </a>
                            <a href="/put/deslike/mensagem/{{mensagem.cod_comentario}}" class="bttn__comentario-like">👎 {{mensagem.deslike}}</a>
                            <hr>
                            
                        </div>                        
                        {% endfor %}
                </section>
           
            </form>

        </main>  

    </section>

</body>
</html>