<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <div class="input--nome"
            ><input type="text" autocomplete="off" placeholder="Digite seu email...">
        </div>
        <div class="input--senha"
            ><input type="text" autocomplete="off" placeholder="Digite sua senha...">
        </div>

        <button>Entrar</button>



        <a href="">Não possui um cadastro? Clique aqui!</a>
</body>
</html>