<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se</title>
</head>
<body>
    <main>

        <div class="input--nome"
            ><input type="text" autocomplete="off" placeholder="Digite seu email...">
        </div>
        <div class="input--senha"
            ><input type="text" autocomplete="off" placeholder="Digite sua senha...">
        </div>

        <button>Cadastrar</button>



        <a href="">Já tem um cadastro? Clique aqui!</a>


    </main>
</body>
</html>