<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se</title>
</head>
<body>
    <main>



        <form action="/post/cadastro" method="POST">
            <div class="input--nome">
                <input type="text" name="nome" autocomplete="off" placeholder="Digite seu nome...">
            </div>
            <div class="input--login">
                <input type="text" name="login" autocomplete="off" placeholder="Digite seu login...">
            </div>
            <div class="input--senha"
                ><input type="text" name="senha" autocomplete="off" placeholder="Digite sua senha...">
            </div>

            <button>Cadastre-se</button>

            <a href="/">Já possui um cadastro? Clique aqui!</a>
        </form>

        <!-- <a href="/post/cadastro"></a> -->





    </main>
</body>
</html>